.blue {
    color: $button-color;
}

.gray {
    color: $link-color;
}

.link {
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    color: $tekst-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.link_tel {
    text-decoration: none;
    cursor: pointer;
    color: $link-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.container {
    width: 1200px;
    margin: 0 auto;
}